@model Product

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

@*<form method="post" asp-antiforgery="true">*@
<form method="post">
    <div class="form-group">
        <label asp-for="Name"></label>
        <input class="form-control" asp-for="Name" />
    </div>
    <div class="form-group">
        <label asp-for="Price"></label>
        <input class="form-control" asp-for="Price" />
    </div>
    <div class="form-group">
        <label asp-for="Quantity"></label>
        @*<input class="form-control" asp-for="Quantity" />*@
        @*<select class="form-control" asp-for="Quantity">
                <option disabled selected value="">Select Quantity</option>
                <option>50</option>
                <option>100</option>
                <option>150</option>
                <option>200</option>
            </select>*@
        <select class="form-control" asp-for="Quantity" asp-items="ViewBag.Quantity">
            <option disabled selected value="">Select a Country</option>
        </select>
    </div>
    @*<button type="submit" class="bs-tooltip-bottom" background-color="danger">Add</button>*@
    <aspbutton type="submit" background-color="danger" />
    <div theme="secondary">
        <button type="submit">Add</button>
        <a href="/Home/Index">Cancel</a>
    </div>
</form>
