@page
@{
    Layout = null;
}
@addTagHelper *, WebApp

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>RatingDemoTagHelper</title>
</head>
<body>
    <vc:rating-control rating-control-type="1to10">
    </vc:rating-control>
</body>
</html>
